<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">
			<h:outputText value="#{msg['title.settings']}" />
		</ui:define>
		<ui:define name="content">
			<div class="container">

				<div class="col">
					<h2>
						<h:outputText value="#{msg['title.settings']}" />
					</h2>
				</div>

				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button"
									data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">
									<h:outputText value="#{msg['settings.password.change']}" />
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show"
							aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<h:form>

									<div class="form-group">
										<label for="oldPassword" class="control-label col-sm-3"><h:outputText
												value="#{msg['form.password.old']}" /></label>

										<h:inputSecret type="text" class="form-control"
											id="oldPassword" value="#{userController.oldPassword}"
											pt:placeholder="#{msg['form.password.old']}" required="true" />
										<h:message for="oldPassword" style="color:red" />

									</div>


									<div class="form-group">
										<label for="newPassword" class="control-label col-sm-3"><h:outputText
												value="#{msg['form.password.new']}" /></label>
										<h:inputSecret type="text" class="form-control"
											id="newPassword" value="#{userController.newPassword}"
											pt:placeholder="#{msg['form.password.new']}" required="true" />
										<h:message for="newPassword" style="color:red" />

									</div>

									<div class="form-group">
										<label for="newRepeatedPassword"
											class="control-label col-sm-3"><h:outputText
												value="#{msg['form.password.repeat.new']}" /></label>
										<h:inputSecret type="text" class="form-control"
											id="newRepeatedPassword"
											value="#{userController.newRepeatedPassword}"
											pt:placeholder="#{msg['form.password.repeat.new']}"
											required="true" />
										<h:message for="newRepeatedPassword" style="color:red" />
									</div>
									<div>
										<h:commandButton action="#{userController.changePassword()}"
											value="#{msg['form.button.change']}"
											styleClass="btn btn-danger" />
									</div>

								</h:form>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button"
									data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									<h:outputText value="#{msg['settings.password.lang']}" />
								</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse"
							aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<h:form>
									<h:selectOneRadio value="#{userController.lang}">
										<f:selectItem itemValue="DE" itemLabel="DE" />
										<f:selectItem itemValue="FR" itemLabel="FR" />
									</h:selectOneRadio>
									<h:commandButton action="#{userController.changeLang()}"
										value="#{msg['form.button.change']}"
										styleClass="btn btn-danger" />
								</h:form>
							</div>
						</div>

					</div>

				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>