<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.class']}</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">
				<h2>
					<h:outputText value="#{msg['list.title.class']}" />
				</h2>
				
				<div>

					<!--  Such Feld -->
					<div class="filter">
						<h:form class="form-inline mt-2 mt-md-0">
							<h:inputText class="form-control mr-sm-2" type="text"
								pt:placeholder="Search" aria-label="Search"
								value="#{classController.filter}" />
							<h:commandButton action="#{classController.search}"
								value="Filtern"
								styleClass="btn btn-outline-success my-2 my-sm-0" />
						</h:form>
					</div>

				</div>
				<!-- Tabelle -->
				<table class="table tablesorter" id="sortedTable">

					<thead class="thead-dark">
						<tr>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.typ.name.de']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.typ.name.fr']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.typ.name.desc.de']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.typ.name.desc.fr']}" /></th>
							<th class="sorter-false"></th>
							<th class="sorter-false"></th>
						</tr>
					</thead>
					<tbody>
						<h:form>
							<c:forEach var="kurs" items="#{classController.filteredClasses}">
								<tr>
									<td><h:outputText value="#{kurs.nameDe}" /></td>
									<td><h:outputText value="#{kurs.nameFr}" /></td>
									<td><h:outputText value="#{kurs.descDe}" /></td>
									<td><h:outputText value="#{kurs.descFr}" /></td>
									<td><h:commandLink immediate="true" styleClass=""
											action="#{classController.editView(kurs)}">
											<i class="material-icons"> edit </i>
										</h:commandLink></td>
									<td><h:commandLink
											onclick="if (! confirm('#{msg['infos.sure']}')) return false"
											immediate="true" styleClass=""
											action="#{classController.deleteView(kurs)}">
											<i class="material-icons"> delete </i>


										</h:commandLink></td>
								</tr>
							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>