<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['form.new.title.class']}</ui:define>
		<ui:define name="content">
			<div class="container">
				<h2><h:outputText value="#{msg['form.new.title.class']}" /></h2>

				<div>
					<h:form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="nameDe" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.class.typ.name.de']}" /></label>

							<h:inputText type="text" class="form-control" id="nameDe"
								value="#{classController.kurs.nameDe}" pt:placeholder="#{msg['form.new.class.typ.name.de']}" />
							<h:message for="nameDe" style="color:red" />
						</div>

						<div class="form-group">
							<label for="descDe" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.class.typ.name.desc.de']}" /></label>
							<h:inputText type="text" class="form-control" id="descDe"
								value="#{classController.kurs.descDe}" pt:placeholder="#{msg['form.new.class.typ.name.desc.de']}" />
							<h:message for="descDe" style="color:red" />
						</div>

						<div class="form-group">
							<label for="nameFr" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.class.typ.name.fr']}" /></label>
							<h:inputText type="text" class="form-control" id="nameFr"
								value="#{classController.kurs.nameFr}" pt:placeholder="#{msg['form.new.class.typ.name.fr']}" />
							<h:message for="nameFr" style="color:red" />


							<div class="form-group">
								<label for="descFr" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.class.typ.name.desc.fr']}" /></label>
								<h:inputText type="text" class="form-control" id="descFr"
									value="#{classController.kurs.descFr}" pt:placeholder="#{msg['form.new.class.typ.name.desc.fr']}" />
								<h:message for="descFr" style="color:red" />
							</div>

						</div>

						<div>
							<h:commandButton action="#{classController.createKurs}"
								value="#{msg['form.button.create']}"
								styleClass="btn btn-primary btn-lg btn-block button" />
						</div>

					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>