<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:include src="/templates/search.xhtml" />
		<ui:define name="title">#{msg['list.title.finacne.open']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="col">
					<h2>#{msg['list.title.finacne.open']}</h2>
				</div>
				<div class="filter">

					<!--  Such Feld -->
					<h:form class="form-inline mt-2 mt-md-0">
						<h:inputText class="form-control mr-sm-2" type="text"
							pt:placeholder="#{msg['filter.search']}"
							aria-label="#{msg['filter.search']}"
							value="#{userController.filter}" />
						<h:commandButton action="#{userController.search}" value="Filtern"
							styleClass="btn btn-outline-success my-2 my-sm-0" />
					</h:form>
				</div>
				<!-- Tabelle -->
				<table class="table tablesorter" id="sortedTable">
					<tbody>
						<thead class="thead-dark">
							<tr>
							
								<th scope="col">#{msg['list.verify.person.delivery.date']}</th>
								<th scope="col">#{msg['list.verify.person.name']}</th>
								<th scope="col">#{msg['list.verify.person.firstname']}</th>
								<th scope="col">#{msg['list.verify.person.email']}</th>
								<th></th>

							</tr>
						</thead>
						<h:form>
							<c:forEach var="payRollItem" items="#{financeController.payRollList}">
								<tr>
								<td><h:outputText value="#{payRollItem.date}" /></td>
									<td>#{payRollItem.person.name}</td>
									<td>#{payRollItem.person.firstName}</td>
									<td>#{payRollItem.person.email}</td>
										
									<td><h:commandLink immediate="true" styleClass=""
											action="#{financeController.verifyDetailView(payRollItem)}">
											<i class="material-icons"> remove_red_eye </i>
										</h:commandLink></td>

								</tr>
							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>