<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition>
	
	<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"><h:outputText value="#{msg['menu.room']}" /></a>

			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/roomViews/roomList.xhtml"><h:outputText value="#{msg['menu.room.show']}" /></a> <a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/roomViews/createRoom.xhtml"><h:outputText value="#{msg['menu.room.new']}" /></a>
			</div></li>
	
		<!-- Instruktor -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"><h:outputText value="#{msg['menu.instructor']}" /> </a>

			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/userViews/userList.xhtml">Instruktoren
					anzeigen</a> <a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/userViews/createUser.xhtml"><h:outputText value="#{msg['menu.instructor.new']}" /></a>
			</div></li>
			
		<!-- Kurs Typen -->
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"><h:outputText value="#{msg['menu.classtype']}" /></a>

			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/classTypViews/classesList.xhtml"><h:outputText value="#{msg['menu.classtyp.show']}" /></a> <a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/classTypViews/createClassType.xhtml"><h:outputText value="#{msg['menu.classtyp.new']}" /></a>
			</div></li>
		
		<!-- Kursdurchführungen -->	
		<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"><h:outputText value="#{msg['menu.classrun']}" /></a>

			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/classRunViews/classRunsList.xhtml"><h:outputText value="#{msg['menu.classtyp.show']}" /></a> <a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/classRunViews/createClassRunSingle.xhtml"><h:outputText value="#{msg['menu.classrun.single.new']}" /></a><a class="dropdown-item"
					href="/ManagementSysWeb/grpAdmin/classRunViews/createClassRunMulti.xhtml"><h:outputText value="#{msg['menu.classrun.multi.new']}" /></a>
			</div></li>
			
				<!-- Freigaben -->
			<li class="nav-item">
            <a class="nav-link" href="/ManagementSysWeb/grpAdmin/payrollViews/monthlyPayrollOverviewListView.xhtml">#{msg['menu.manage.releases']}</a>
          </li>
	</ui:composition>
</h:body>
</html>