<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition>
	
	
	<li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
			href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true"
			aria-expanded="false"><h:outputText value="#{msg['menu.finance.book.state']}" /></a>

			<div class="dropdown-menu" aria-labelledby="dropdown01">
				<a class="dropdown-item"
					href="/ManagementSysWeb/finance/financeView.xhtml"><h:outputText value="#{msg['menu.finance.book.ready.to.release']}" /></a> <a class="dropdown-item"
					href="/ManagementSysWeb/finance/exportViews/ERPExporterView.xhtml"><h:outputText value="#{msg['menu.finance.book.ready.to.erp']}" /></a>
			</div></li>
	</ui:composition>
</h:body>
</html>