<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>
	<ui:composition>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler collapsed" type="button"
			data-toggle="collapse" data-target="#navbarResponsible"
			aria-controls="navbarResponsible" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse" id="navbarResponsible"
			style="">
			<ul class="navbar-nav mr-auto">

				<!-- Einfügen Groupfitness Admin Menu -->
				<c:choose>
					<c:when test="#{request.isUserInRole('GrpAdmin')}">
						<ui:include src="/templates/adminMenu.xhtml" />
					</c:when>
				</c:choose>

				<!-- Einfügen Finanz Abteilung Menu -->
				<c:choose>
					<c:when test="#{request.isUserInRole('finance')}">
						<ui:include src="/templates/financeMenu.xhtml" />
					</c:when>
				</c:choose>

				<!-- Menu für das Erfassen  -->
				<c:choose>
					<c:when test="#{request.isUserInRole('instruktor')}">
						<ui:include src="/templates/classBookMenu.xhtml" />
					</c:when>
				</c:choose>

				<!-- User Setting  -->
				<c:choose>
					<c:when test="#{not empty request.remoteUser}">
						<ui:include src="/templates/userSettingsMenu.xhtml" />
					</c:when>
				</c:choose>


				<!-- Login Button -->

				<li class="nav-item" rendered="#{empty request.remoteUser}"><h:link
						outcome="/sec/home.xhtml" value="Einloggen"
						rendered="#{empty request.remoteUser}" /></li>

				<!-- Logout Button -->
				<c:choose>
					<c:when test="#{not empty request.remoteUser}">
						<li class="nav-item"><h:form>
								<h:commandLink immediate="true" styleClass="form-inline mt-2"
									action="#{login2.logout()}">Logout</h:commandLink>
							</h:form></li>
					</c:when>
				</c:choose>
			</ul>

		</div>
		</nav>
	</ui:composition>
</h:body>
</html>