<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<f:loadBundle basename="messages" var="msg" />
<h:head>
	<!-- Generell Bootstrap -->
	<link rel="stylesheet"
		href="/ManagementSysWeb/resources/css/bootstrap.css" />
	<link href="/ManagementSysWeb/resources/css/ionicons.css"
		rel="stylesheet" />

	<!-- Custom styles for this template -->
	<link rel="icon" type="image/x-icon"
		href="/ManagementSysWeb/images/favicon.ico" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet" />

	<link href="/ManagementSysWeb/resources/css/groupfitness.css"
		rel="stylesheet" />

	<link rel="stylesheet" href="/ManagementSysWeb/resources/css/theme.bootstrap.min.css" />


	<title><ui:insert name="title">??? title ???</ui:insert> |
		Groupfitness</title>
</h:head>

<h:body>
	<div>
		<ui:insert name="header">
			<ui:include src="/templates/headerMenu.xhtml" />
		</ui:insert>
	</div>
	<br />
	<div></div>
	<div class="container" style="max-width: 900px; background: #ebeff2">
		
			<h:messages infoClass="alert alert-success" style="list-style: none;"
				errorClass="alert alert-danger" globalOnly="true" />
		

		<div class="row">
			<ui:insert name="content">
				<ui:include src="/templates/contents.xhtml" />
			</ui:insert>
		</div>
		

	</div>
	<script src="/ManagementSysWeb/resources/js/jquery-3.3.1.min.js"></script>
	<script src="/ManagementSysWeb/resources/js/bootstrap.js"></script>
	<script src="/ManagementSysWeb/resources/js/jquery.tablesorter.js"></script>
	<script src="/ManagementSysWeb/resources/js/groupfitness.js"></script>
	<script src="/ManagementSysWeb/resources/js/popper.min.js"></script>
</h:body>
</html>