<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:include src="/templates/search.xhtml" />
		<ui:define name="title">#{msg['detail.title.monthly.graduation']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="col">
					<h2>#{msg['detail.title.monthly.graduation']}</h2>
				</div>

				<!-- Stundenblatt von wem? -->
				<div>Stundenblatt von: Name:
					#{monthlyPayrollOverviewListController.monthlyPayroll.person.name}
					Vorname:
					#{monthlyPayrollOverviewListController.monthlyPayroll.person.firstName}
					Eingeliefert am:
					#{monthlyPayrollOverviewListController.monthlyPayroll.date}</div>

				<!-- Freigeben -->
				<div class="alert alert-info">
					<h:form>
						<h:commandButton
							action="#{monthlyPayrollOverviewListController.release()}"
							value="Freigeben"
							styleClass="btn btn-outline-success form-check-inline " />

					</h:form>
				</div>
				<!-- Tabelle -->
				<table class="table tablesorter" id="sortedTable">

					<thead class="thead-dark">
						<tr>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.run.end.date']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.class.run.kurs.typ']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['list.class.run.book.amount']}" /></th>
							<th scope="col"><h:outputText value="#{msg['status.title']}" /></th>
							<th class="sorter-false"></th>
							<th class="sorter-false"></th>
						</tr>
					</thead>
					<tbody>
						<h:form>
							<c:forEach var="classRun"
								items="#{monthlyPayrollOverviewListController.classes}">
								<tr>
									<td><h:outputText value="#{classRun.date}" /></td>
									<td><h:outputText value="#{classRun.kurs.nameDe}" /></td>
									<td><h:outputText value="#{classRun.amountCustomer}" /></td>
									<td><h:outputText value="#{kurs.descFr}" /></td>

									<td></td>
									<td></td>
								</tr>
							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>