<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:include src="/templates/search.xhtml" />
		<ui:define name="title">#{msg['detail.title.monthly.graduation']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="col">
					<h2>
						<h:outputText value="#{msg['detail.title.monthly.graduation']}" />
					</h2>

				</div>
				<h:form>

					<div>
						<h3>Hier findest du die Stundenblätter, die zum Exporter
							bereit sind.</h3>
					</div>

					<!-- Exportieren -->
					<div class="alert alert-info">

						<h:commandButton action="#{eRPExporterController.export()}"
							value="#{msg['detail.view.export']}"
							styleClass="btn btn-outline-success form-check-inline "
							immediate="true" />
					</div>
				</h:form>
				<!-- Tabelle -->
				<table class="table tablesorter" id="sortedTable">

					<thead class="thead-dark">
						<tr>
							<th scope="col"><h:outputText
									value="#{msg['form.new.instructor.name']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.instructor.firstname']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['form.new.instructor.email']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['list.verify.person.delivery.date']}" /></th>
							<th class="sorter-false"></th>
							<th class="sorter-false"></th>


						</tr>
					</thead>
					<tbody>
						<h:form>
							<c:forEach var="payRoll"
								items="#{eRPExporterController.payRollList}">
								<tr>
									<td><h:outputText value="#{payRoll.person.name}" /></td>
									<td><h:outputText value="#{payRoll.person.firstName}" /></td>
									<td><h:outputText value="#{payRoll.person.email}" /></td>
									<td><h:outputText value="#{payRoll.date}" /></td>

									<td></td>
									<td></td>
								</tr>

							</c:forEach>
						</h:form>

					</tbody>
					<tfoot>

						<tr>
							<td>Total</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>
