<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.class']}</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">
				<h2>
					<h:outputText value="#{msg['list.title.class']}" />
				</h2>

				<h:form class="form-inline mt-2 mt-md-0">

					<div>

						<!--  Such Save  -->
						<div class="filter">

							<h:commandButton
								action="#{classRunController.createFromPreview()}"
								value="Alle speichern"
								styleClass="btn btn-outline-success my-2 my-sm-0" />
						</div>
					</div>
					<!-- Tabelle -->
					<table class="table">
						<tbody>
							<thead class="thead-dark">
								<tr>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.start.date']}" /></th>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.start.time']}" /></th>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.duration']}" /></th>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.kurs.typ']}" /></th>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.instructor']}" /></th>
									<th scope="col"><h:outputText
											value="#{msg['form.new.class.run.room']}" /></th>
									<th></th>
								</tr>
							</thead>

							<c:forEach var="classrun"
								items="#{classRunController.previewClassRuns}">
								<tr>
									<td><h:outputText value="#{classrun.date}" /></td>
									<td><h:outputText value="#{classrun.startTime}" /></td>
									<td><h:outputText value="#{classrun.duration}" /></td>
									<td><h:outputText value="#{classrun.kurs.nameDe}" /></td>

									<!-- Person -->
									<td><h:selectOneMenu value="#{classrun.person.id}"
											required="true" styleClass="form-control" id="person">
											<f:selectItems value="#{classRunController.allPerson}"
												var="p" itemLabel="#{p.email} | #{p.name} | #{p.firstName}"
												itemValue="#{p.id}" />
										</h:selectOneMenu> <h:message for="person" style="color:red" /></td>

									<!-- Kurs Raum -->
									<td><h:selectOneMenu value="#{classrun.room.id}"
											required="true" styleClass="form-control" id="room">
											<f:selectItems value="#{classRunController.allRooms}" var="r"
												itemLabel="#{r.nameDe}" itemValue="#{r.id}" />
										</h:selectOneMenu> <h:message for="room" style="color:red" /></td>


									<td><h:commandLink immediate="true" styleClass=""
											action="#{classRunController.removeClassRun(classrun)}">
											<i class="material-icons"> delete </i>
										</h:commandLink></td>
								</tr>
							</c:forEach>


						</tbody>
					</table>
				</h:form>
			</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>