<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['form.new.title.class.run.multi']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<h2>
					<h:outputText value="#{msg['form.new.title.class.run.multi']}" />
				</h2>

				<div>
					<h:form class="form-horizontal" role="form">

						<!-- Kurs Typ -->
						<div class="form-group">
							<label for="typ" class="control-label col-sm-3">#{msg['form.new.class.run.kurs.typ']}</label>
							<h:selectOneMenu value="#{classRunController.classtypId}"
								required="true" styleClass="form-control" id="typ">
								<f:selectItem itemValue="#{null}" itemLabel="-- Kurs --" />
								<f:selectItems value="#{classRunController.allClasses}" var="c"
									itemLabel="#{c.name} " itemValue="#{c.id}" />
							</h:selectOneMenu>
							<h:message for="typ" style="color:red" />
						</div>

						<!-- Instruktor -->
						<div class="form-group">
							<label for="person" class="control-label col-sm-3">#{msg['form.new.class.run.instructor']}</label>
							<h:selectOneMenu value="#{classRunController.personId}"
								required="true" styleClass="form-control" id="person">
								<f:selectItem itemValue="#{null}" itemLabel="-- Instruktor --" />
								<f:selectItems value="#{classRunController.allPerson}" var="p"
									itemLabel="#{p.email} | #{p.name} | #{p.firstName}"
									itemValue="#{p.id}" />
							</h:selectOneMenu>
							<h:message for="person" style="color:red" />
						</div>

						<!-- Kurs Raum -->
						<div class="form-group">
							<label for="room" class="control-label col-sm-3">#{msg['form.new.class.run.room']}</label>
							<h:selectOneMenu value="#{classRunController.roomId}"
								required="true" styleClass="form-control" id="room">
								<f:selectItem itemValue="#{null}" itemLabel="-- Raum --" />
								<f:selectItems value="#{classRunController.allRooms}" var="r"
									itemLabel="#{r.name}" itemValue="#{r.id}" />
							</h:selectOneMenu>
							<h:message for="room" style="color:red" />
						</div>

						<!-- Start Datum -->
						<div class="form-group">
							<label for="start" class="control-label col-sm-3">#{msg['form.new.class.run.start.date']}</label>
							<h:inputText pt:type="date" id="start" name="trip-start"
								value="#{classRunController.startDate}" min="2018-01-01"
								max="2022-12-31" styleClass="form-control">
								<f:validateRequired />
								<f:convertDateTime type="localDate" pattern="yyyy-MM-dd" />
							</h:inputText>
							<h:message for="start" style="color:red" />
						</div>

						<!-- End Datum -->
						<div class="form-group">
							<label for="end" class="control-label col-sm-3">#{msg['form.new.class.run.end.date']}</label>
							<h:inputText pt:type="date" id="end" name="trip-start"
								value="#{classRunController.endDate}" min="2018-01-01"
								max="2022-12-31" styleClass="form-control">
								<f:validateRequired />
								<f:convertDateTime type="localDate" pattern="yyyy-MM-dd" />
							</h:inputText>
							<h:message for="end" style="color:red" />
						</div>

						<!-- Wochentag -->
						<div class="form-group">
							<label for="day" class="control-label col-sm-3">#{msg['form.new.class.run.room']}</label>
							<h:selectOneMenu value="#{classRunController.day}"
								required="true" styleClass="form-control" id="day">
								<f:selectItem itemValue="#{null}" itemLabel="-- Day --" />
								<f:selectItems value="#{classRunController.dayOfWeeks}" var="d"
									itemLabel="#{d}" itemValue="#{d.value}" />
							</h:selectOneMenu>
							<h:message for="day" style="color:red" />
						</div>

						<!-- Start Zeit -->
						<div class="form-group">
							<label for="time" class="control-label col-sm-3"><h:outputText
									value="#{msg['form.new.class.run.start.time']}" /></label>
							<h:inputText type="time" class="form-control" id="time"
								value="#{classRunController.startTime}"
								pt:placeholder="#{msg['form.new.class.run.start.time']}">
								<f:validateRegex
									pattern="^$|^(([01][0-9])|(2[0-3])):[0-5][0-9]$" />
								<f:validateRequired />
							</h:inputText>
							<h:message for="time" style="color:red" />
						</div>

						<!-- Dauer -->
						<div class="form-group">
							<label for="duration" class="control-label col-sm-3"><h:outputText
									value="#{msg['form.new.class.run.duration']}" /></label>
							<h:inputText type="time" class="form-control" id="duration"
								value="#{classRunController.duration}"
								pt:placeholder="#{msg['form.new.class.run.start.duration']}">
								<f:validateLongRange minimum="5" maximum="300" />
								<f:validateRequired />
							</h:inputText>
							<h:message for="duration" style="color:red" />
						</div>

						<div>
							<h:commandButton
								action="#{classRunController.createMultiClassRun}"
								value="#{msg['form.button.create']}"
								styleClass="btn btn-primary btn-lg btn-block button" />
						</div>

					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>

</h:body>

</html>