<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.book']}</ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="col">
					<h2>
						<h:outputText value="#{msg['list.title.book']}" />
					</h2>
				</div>
				<div class="col">
					<h:form>
						<div class="form-check form-check-inline">
							<h:outputText
								value="#{classAddStatisticsController.classRun.date}" />
						</div>


						<div class="form-check form-check-inline">
							<h:outputText
								value="#{classAddStatisticsController.classRun.startTime}" />
						</div>

						<div class="form-check form-check-inline">
							<h:outputText
								value="#{classAddStatisticsController.classRun.kurs.name}" />

						</div>

						<div class="form-check form-check-inline">
							<h:inputText type="number" class="form-control"
								id="amountCustomer" value="#{classAddStatisticsController.classRun.amountCustomer}"
								pt:placeholder="#{msg['list.class.run.book.amount']}" />
							<h:message for="amountCustomer" style="color:red" />
						</div>

						<div class="form-check form-check-inline">

							<h:commandLink styleClass=""
								action="#{classAddStatisticsController.save}">
								<i class="material-icons"> save </i>


							</h:commandLink>
						</div>
					</h:form>


				</div>

			</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>