<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.myClasses']}</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">
				<h2>
					<h:outputText value="#{msg['list.title.myClasses']}" />
				</h2>
				<div>

					<!--  Such Feld -->
					<div class="filter">
						<h:form class="form-inline mt-2 mt-md-0">
							<h:inputText class="form-control mr-sm-2" type="text"
								pt:placeholder="Search" aria-label="Search"
								value="#{classController.filter}" />
							

							<h:selectOneRadio value="#{user.favoriteBMW}">
   	<f:selectItem itemValue="335" itemLabel="BMW 335" />
   	<f:selectItem itemValue="316" itemLabel=" BMW 316" />
   	<f:selectItem itemValue="M3 SMG" itemLabel="BMW M3 SMG" />
</h:selectOneRadio>

<h:commandButton action="#{classController.search}"
								value="Filtern"
								styleClass="btn btn-outline-success my-2 my-sm-0" />



						</h:form>
					</div>

				</div>
				<!-- Tabelle -->
				<table class="table">
					<tbody>
						<thead class="thead-dark">
							<tr>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.datum']}" /></th>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.className']}" /></th>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.class.room']}" /></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<h:form>
							<c:forEach var="myClassRun"
								items="#{instructorManagement.myClassRuns}">
								<tr>
									<td><h:outputText value="#{myClassRun.date}" /></td>
									<td><h:outputText value="#{myClassRun.kurs.nameDe}" /></td>
									<td><h:outputText value="#{myClassRun.room.nameDe}" /></td>
								</tr>
							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>