<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.monthly.graduation']}</ui:define>
		<ui:define name="content">

			<h2>
				<h:outputText value="#{msg['list.title.monthly.graduation']}" />
			</h2>
			<!-- Info Text -->
			<div class="alert alert-info" role="alert">
				Hier sind alle deine Kurse von der Vergangenheit bis heute! Mit dem
				<i class="material-icons"> delete </i> kannst du Kurse rauslöschen.

				Mit
				<p class="btn btn-outline-success my-2 my-sm-0">Stunden abgeben</p>
				Kannst du die Stunden der Fitnessleitung senden.

			</div>
			
			<!--  Stunde abgeben  -->
			<div class="alert alert-info">
				<h:form>
							Abgabe Zeitpunkt: #{monthlyPayrollController.deliveryDate}
							
							<h:commandButton
						action="#{monthlyPayrollController.createPayRollDoc()}"
						value="Stunden abgeben"
						styleClass="btn btn-outline-success form-check-inline " />
				</h:form>
			</div>
			
			<!-- Tabelle -->
			<table class="table">
				<tbody>
					<thead class="thead-dark">
						<tr>
							<th scope="col"><h:outputText
									value="#{msg['list.class.run.book.datum']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['list.class.run.book.time']}" /></th>

							<th scope="col"><h:outputText
									value="#{msg['list.class.run.className']}" /></th>
							<th scope="col"><h:outputText
									value="#{msg['list.class.run.book.amount']}" /></th>

							<th scope="col"><h:outputText
									value="#{msg['list.class.run.state']}" /></th>

							<th></th>
						</tr>
					</thead>

					<c:forEach var="myClassRun"
						items="#{monthlyPayrollController.multiClassRuns}">
						<h:form>
							<tr>
								<td><h:outputText value="#{myClassRun.date}" /></td>
								<td><h:outputText value="#{myClassRun.startTime}" /></td>
								<td><h:outputText value="#{myClassRun.kurs.nameDe}" /></td>
								<td><h:outputText value="#{myClassRun.amountCustomer}" /></td>
								<td><h:outputText value="#{myClassRun.state}" /></td>

								<td><h:commandLink styleClass=""
										action="#{monthlyPayrollController.removeFromMonthlyPayroll(myClassRun)}">
										<i class="material-icons"> delete </i>


									</h:commandLink></td>
							</tr>
						</h:form>
					</c:forEach>


				</tbody>
			</table>

		</ui:define>

	</ui:composition>

</h:body>
</html>