<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.book']}</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">
				<h2>
					<h:outputText value="#{msg['list.title.book']}" />
				</h2>
				<div>

					<!--  Such Feld -->
					<div class="filter">
						<h:form class="form-inline mt-2 mt-md-0">

							<!-- Monat -->
							<div class="form-check form-check-inline">
								<label for="start" class="control-label col-sm-3">#{msg['list.class.run.book.datum']}</label>
								<h:selectOneMenu
									value="#{classAddStatisticsController.selectedMonth}"
									class="form-control">
									<f:selectItems value="#{classAddStatisticsController.month}"
										var="m" itemLabel="#{m}" itemValue="#{m.value}" />
								</h:selectOneMenu>
							</div>

							<!-- Jahr -->
							<div class="form-check form-check-inline">
								<label for="year" class="control-label col-sm-3"><h:outputText
										value="#{msg['list.class.run.book.year']}" /></label>
								<h:inputText type="number" class="form-control" id="year"
									value="#{classAddStatisticsController.stringSelectedYear}"
									pt:placeholder="#{msg['list.class.run.book.year']}">
									<f:validateRegex pattern="^\d{4}$" />
									<f:validateRequired />
								</h:inputText>
								<h:message for="year" style="color:red" />
							</div>

							<div class="form-check form-check-inline">
								<h:commandButton
									action="#{classAddStatisticsController.search()}"
									value="Filtern"
									styleClass="btn btn-outline-success my-2 my-sm-0" />
							</div>
						</h:form>
					</div>

				</div>
				<!-- Tabelle -->
				<table class="table">
					<tbody>
						<thead class="thead-dark">
							<tr>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.book.datum']}" /></th>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.book.time']}" /></th>

								<th scope="col"><h:outputText
										value="#{msg['list.class.run.className']}" /></th>
								<th scope="col"><h:outputText
										value="#{msg['list.class.run.book.amount']}" /></th>

								<th></th>
							</tr>
						</thead>

						<c:forEach var="myClassRun"
							items="#{classAddStatisticsController.myClassRuns}">
							<h:form>
								<tr>
									<td><h:outputText value="#{myClassRun.date}" /></td>
									<td><h:outputText value="#{myClassRun.startTime}" /></td>
									<td><h:outputText value="#{myClassRun.kurs.name}" /></td>
									<td><h:outputText value="#{myClassRun.amountCustomer}" /></td>

									<td><h:commandLink styleClass=""
											action="#{classAddStatisticsController.saveAmountCustomer(myClassRun)}">
											<i class="material-icons"> edit </i>


										</h:commandLink></td>
								</tr>
							</h:form>
						</c:forEach>


					</tbody>
				</table>
			</div>
		</ui:define>

	</ui:composition>

</h:body>
</html>