@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

Login Page -->html, body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

.form-signin .checkbox {
	font-weight: 400;
}

.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

<!--
Eigene Styles --><!--Login Page -->.grp-content {
	padding: 3rem 1.5rem;
	text-align: center;
}
/* Message Style (Error and Info) */
.info {
	background-color: #28a745;
	border-color: #28a745;
}

.error {
	background-color: #dc3545;
	border-color: #dc3545;
}

.messageListStyle {
	list-style: none;
	padding-left: 10px;
	color: white;
	background-image: none;
	border-radius: .25rem;
	padding: 5px;
}

.localErrorText {
	color: red;
}
/* Content */
/* ======= */


.filter {
	margin-bottom: 25px;
	margin-top: 40px;
}
h2 {
	    margin-top: 15px;
}
thead{ class="thead-dark"}


/* Alert Box */
/* =========*/

.alertbox{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* Toggle Button */
/* =========*/

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

/* Corporate Identity */
/* ================== */

.bg-dark {
    background-color: #bc3c4c !important;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.table .thead-dark th {
    color: #fff;
    background-color: #bc3c4c;
    border-color: #bc3c4c;
}

nav a {
    color: #fff;
}
nav a:hover {
    color: #611f26;
}
.btn-primary {
    color: #fff;
    background-color: #bc3c4c;
    border-color: #bc3c4c;
}
.btn-primary:hover {
    color: #fff;
    background-color: #611f26;
    border-color: #611f26;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/