<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">Hopla</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">

				<h2>
					<h:outputText value="Hopla" />
				</h2>

				<div class="alert alert-warning" role="alert">Sorry da ist was
					schief gelaufen. Bitte versuche es später nochmals!</div>

			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>