<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/templates/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<ui:define name="title">#{msg['form.login.please.login']}</ui:define>
	<ui:define name="content">
		<div class="container">
			<form method="POST" action="j_security_check">
				<div class="form-signin">
					<h2 class="form-signin-heading">#{msg['form.login.please.login']}</h2>

					<h:inputText  id="j_username" size="20" name="j_username" 
						required="true" styleClass="form-control" />
					<h:outputLabel for="j_username" styleClass="sr-only">Password</h:outputLabel>
					
					<h:inputSecret  type="password" name="j_password"
						id="j_password" size="20" styleClass="form-control"
						placeholder="Password"></h:inputSecret>
					
					<input type="submit" value="Anmeldung" class="btn btn-lg btn-primary btn-block"/>
					
				</div>
			</form>
		</div>
		<!-- /container -->
	</ui:define>
</ui:composition>