<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html">


<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">Hello!</ui:define>
		<ui:define name="content">
			<h2>Willkommen du bist eingeloggt!</h2>
		</ui:define>
	</ui:composition>

</h:body>
</html>