<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['form.new.title.instructor']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<h2> <h:outputText value="#{msg['form.new.title.instructor']}" /></h2>

				<div>
					<h:form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="name" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.instructor.name']}" /></label>

							<h:inputText type="text" class="form-control" id="name"
								value="#{userController.person.name}"
								pt:placeholder="#{msg['form.new.instructor.name']}" />
							<h:message for="name" style="color:red" />

						</div>

						<div class="form-group">
							<label for="firstname" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.instructor.firstname']}" /></label>
							<h:inputText type="text" class="form-control" id="firstName"
								value="#{userController.person.firstName}"
								pt:placeholder="#{msg['form.new.instructor.firstname']}" />
							<h:message for="firstname" style="color:red" />

						</div>

						<div class="form-group">
							<label for="email" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.instructor.email']}" /></label>
							<h:inputText type="text" class="form-control" id="email"
								value="#{userController.person.email}" pt:placeholder="#{msg['form.new.instructor.email']}" />
							<h:message for="email" style="color:red" />

						</div>

						<div class="form-group">
							<label for="password" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.instructor.password']}" /></label>
							<h:inputText type="text" class="form-control" id="password"
								value="#{userController.person.password}"
								pt:placeholder="#{msg['form.new.instructor.password']}" />
							<h:message for="password" style="color:red" />
						</div>
						<div>
							<div>
								<h:commandButton action="#{userController.createUser}"
									 value="#{msg['form.button.create']}" 
									styleClass="btn btn-primary btn-lg btn-block button" />
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>