<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.instructor']}</ui:define>
		<ui:define name="content">
		
			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">

	<h2><h:outputText value="#{msg['list.title.instructor']}" /></h2>
				<div class="filter">

					<!--  Such Feld -->
					<h:form class="form-inline mt-2 mt-md-0">
						<h:inputText class="form-control mr-sm-2" type="text"
							pt:placeholder="#{msg['filter.search']}" aria-label="#{msg['filter.search']}"
							value="#{userController.filter}" />
						<h:commandButton action="#{userController.search}" value="Filtern"
							styleClass="btn btn-outline-success my-2 my-sm-0" />
					</h:form>
				</div>
				<!-- Tabelle -->
				<table class="table">
					<tbody>
						<thead class="thead-dark">
							<tr>
								<th scope="col">#{msg['form.new.instructor.firstname']}</th>
								<th scope="col">#{msg['form.new.instructor.name']}</th>
								<th scope="col">#{msg['form.new.instructor.email']}</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<h:form>
							<c:forEach var="person" items="#{userController.filteredPersons}">
								<tr>
									<td><h:outputText value="#{person.firstName}" /></td>
									<td><h:outputText value="#{person.name}" /></td>
									<td><h:outputText value="#{person.email}" /></td>
									<td><h:commandLink
												immediate="true" styleClass=""
												action="#{userController.editView(person)}"
												 > <i class="material-icons"> edit </i> </h:commandLink></td>

									<td><h:commandLink  onclick="if (! confirm('#{msg['infos.sure']}')) return false" immediate="true" styleClass=""
											action="#{userController.deleteView(person)}">
											<i class="material-icons"> delete </i>
										</h:commandLink></td>


								</tr>
							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>