<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:include src="/templates/search.xhtml" />
		<ui:define name="title">#{msg['form.edit.title.instructor']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<div class="col">
					<h2>#{msg['form.edit.title.instructor']}</h2>
				</div>

				<div class="accordion" id="accordionExample">
					<div class="card">
						<div class="card-header" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" type="button"
									data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="true" aria-controls="collapseOne">Stammdaten
									ändern</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse show"
							aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">
								<h:form>
									<div class="form-group">
										<label for="name" class="control-label col-sm-3">#{msg['form.new.instructor.name']}</label>
										<div class="col-sm-8">
											<h:inputText type="text" class="form-control" id="name"
												value="#{userController.person.name}"
												pt:placeholder="#{msg['form.new.instructor.name']}"
												required="true" />
											<h:message for="name" style="color:red" />
										</div>
									</div>

									<div class="form-group">
										<label for="firstName" class="control-label col-sm-3">#{msg['form.new.instructor.firstname']}</label>
										<div class="col-sm-8">
											<h:inputText type="text" class="form-control" id="firstName"
												value="#{userController.person.firstName}"
												pt:placeholder="#{msg['form.new.instructor.name']}"
												required="true" />
											<h:message for="firstName" style="color:red" />
										</div>

									</div>

									<div class="form-group">
										<label for="email" class="control-label col-sm-3">#{msg['form.new.instructor.email']}</label>
										<div class="col-sm-8">
											<h:inputText type="text" class="form-control" id="email"
												value="#{userController.person.email}"
												pt:placeholder="#{msg['form.new.instructor.email']}"
												required="true" />
											<h:message for="email" style="color:red" />
										</div>
									</div>

									<div class="col-sm-offset-2 col-sm-8">
										<div>
											<h:commandButton action="#{userController.update}"
												value="#{msg['form.button.change']}"
												styleClass="btn btn-primary btn-lg btn-block button" />
										</div>

									</div>
								</h:form>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" type="button"
									data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">
									Kennwort ändern</button>
							</h5>
						</div>
						<div id="collapseTwo" class="collapse"
							aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">
								<h:form>

									<div class="form-inline">
										<label for="password" class="sr-only">#{msg['form.new.instructor.password']}</label>
										<div class="col-sm-8">
											<h:inputSecret type="text" class="form-control"
												id="password" value="#{userController.newPassword}"
												pt:placeholder="#{msg['form.new.instructor.password']}"
												required="true" />
											<h:message for="password" style="color:red" />
										</div>
										<div>
											<h:commandButton action="#{userController.changePassword}"
												value="#{msg['form.button.change']}"
												styleClass="btn btn-danger" />
										</div>
									</div>



								</h:form>
							</div>
						</div>
					</div>

				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>