<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<ui:define name="title">Neuer Kurs Typ</ui:define>
	<ui:define name="content">
	<title>Neuer Kurs Typ</title>
		<div class="container">
			<form class="form-signin">
				
					<h1 class="h3 mb-3 font-weight-normal">#{firstEJBTest.test}</h1> <label
					for="inputEmail" class="sr-only">Email address</label> <h:inputText
					type="email" id="inputEmail" class="form-control"
					placeholder="Email address" required="" autofocus=""/> <label
						for="inputPassword" class="sr-only">Password</label> <h:inputText
						type="password" id="inputPassword" class="form-control"
						placeholder="Password" required=""/>
							<div class="checkbox mb-3">
								
							</div>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
								in</button>
							<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			</form>
			
		</div>
		<!-- /container -->
	</ui:define>
</ui:composition>