<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['form.new.title.room']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<h2> <h:outputText value="#{msg['form.new.title.room']}" /></h2>

				<div>
					<h:form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="nameDe" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.room.name.de']}" /></label>

							<h:inputText type="text" class="form-control" id="nameDe"
								value="#{roomController.room.nameDe}"
								pt:placeholder="#{msg['form.new.room.name.de']}" />
							<h:message for="nameDe" style="color:red" />
						</div>
						
								<div class="form-group">
							<label for="nameFr" class="control-label col-sm-3"><h:outputText value="#{msg['form.new.room.name.fr']}" /></label>

							<h:inputText type="text" class="form-control" id="nameFr"
								value="#{roomController.room.nameFr}"
								pt:placeholder="#{msg['form.new.room.name.fr']}" />
							<h:message for="nameFr" style="color:red" />
						</div>
					
						<div>
							<div>
								<h:commandButton action="#{roomController.createRoom}"
									 value="#{msg['form.button.create']}" 
									styleClass="btn btn-primary btn-lg btn-block button" />
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>