<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:include src="/templates/search.xhtml" />
		<ui:define name="title">#{msg['list.title.rooms']}"</ui:define>
		<ui:define name="content">
			<div class="container">
				<h2>#{msg['list.title.rooms']}</h2>

				<h:form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="namede" class="control-label col-sm-3">#{msg['form.new.room.name.de']}</label>

						<h:inputText type="text" class="form-control" id="namede"
							value="#{roomController.room.nameDe}"
							pt:placeholder="#{msg['form.new.room.name.de']}" />
						<h:message for="namede" style="color:red" />

					</div>

					<div class="form-group">
						<label for="namefr" class="control-label col-sm-3">#{msg['form.new.room.name.fr']}</label>

						<h:inputText type="text" class="form-control" id="namefr"
							value="#{roomController.room.nameFr}"
							pt:placeholder="#{msg['form.new.room.name.fr']}" />
						<h:message for="namede" style="color:red" />

					</div>

					<div class="col-sm-offset-2 col-sm-8">
						<div>
							<h:commandButton action="#{roomController.update}"
								value="#{msg['form.button.change']}"
								styleClass="btn btn-primary btn-lg btn-block button" />
						</div>
						<!-- 					<div><h:commandButton action="list" value="#{msg['button.cancel']}" -->
						<!-- 							styleClass="btn btn-secondary btn-lg btn-block button" immediate="true" /></div> -->
					</div>
				</h:form>

			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>