<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough">
<h:body>
	<ui:composition template="/templates/template.xhtml">
		<ui:define name="title">#{msg['list.title.rooms']}</ui:define>
		<ui:define name="content">

			<div class="container"
				mx-autostyle="max-width: 600px; background: #ebeff2">

				<h2>
					<h:outputText value="#{msg['list.title.rooms']}" />
				</h2>

				<!-- Tabelle -->
					<table class="table tablesorter" id="sortedTable">
					<tbody>
						<thead class="thead-dark">
							<tr>
								<th scope="col">#{msg['form.new.room.name.de']}</th>
								<th scope="col">#{msg['form.new.room.name.fr']}</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<h:form>
							<c:forEach var="room" items="#{roomController.allRooms}">
								<tr>
									<td><h:outputText value="#{room.nameDe}" /></td>
									<td><h:outputText value="#{room.nameFr}" /></td>


									<td><h:commandLink immediate="true" styleClass=""
											action="#{roomController.editView(room)}">
											<i class="material-icons"> edit </i>
										</h:commandLink></td>

									<td><h:commandLink  onclick="if (! confirm('#{msg['infos.sure']}')) return false" immediate="true" styleClass=""
											action="#{roomController.deleteView(room)}">
											<i class="material-icons"> delete </i>
										</h:commandLink></td>
								</tr>


							</c:forEach>
						</h:form>

					</tbody>
				</table>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>